/*css*/

.active{color: red;}
.fade-enter-active, .fade-leave-active {
    transition-duration: 0.6s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}


#videotitle{color: pink;}